<<<<<<< HEAD
body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}
h1 {
    color: darkblue;
=======
body {
font-family: 'poppins', sans-serif;
display: grid;
margin: 0%;   
border-image-width: 0%;
font-size: medium;
padding: auto;
}
button, link:hover  {
background-color: rgb(199, 133, 52);
color: blueviolet;
}
header, footer{
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 20px;
}
@media (max-with: 600px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }
}
.card {
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.05);
    background-color: darkorange;
    color: white;
>>>>>>> 43f7a3502e2c7726bb9d815ffff894f2df6c5d34
}